@import 'cbk';
@import 'tilda-blocks-2.6';
@import 'tilda-grid-3.0';
//@import 'www-embed-player-webp-vflMxBQpm';

#rec9100197 input {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    opacity: .5;
    color: #000;
  }
}

@media screen and (max-width: 960px) {
  .t425__line {
    height: 1px;
  }
}

@media screen and (max-width: 960px) {
  .t425__line {
    height: 1px;
  }
}

#rec9574441 input {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    opacity: .5;
    color: #000;
  }
}

#rec9574460 input {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    opacity: .5;
    color: #000;
  }
}
