@charset 'UTF-8';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'menu-humburger';
@import 'jquery.mmenu.all';

@import 'import/reset';
@import 'import/variables';

@import 'fonts/font_fontawesome';
@import 'fonts/font_cambria';


/* @font-face {
  font-family: 'open sans';
  font-weight: 400;
  font-style: normal;

  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('eot'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'open sans light';
  font-weight: 300;
  font-style: normal;

  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('eot'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'open sans bold';
  font-weight: 700;
  font-style: normal;

  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('eot'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'open sans extrabold';
  font-weight: 800;
  font-style: normal;

  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('eot'), url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'open sans semibold';
  font-weight: 600;
  font-style: normal;

  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('eot'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'product sans';
  font-weight: 400;
  font-style: normal;

  src: url('../fonts/ProductSans.eot');
  src: url('../fonts/ProductSans.eot?#iefix') format('eot'), url('../fonts/ProductSans.woff') format('woff'), url('../fonts/ProductSans.ttf') format('truetype');
} */



$color-grey: #fff;
$color-black: #fff;
$color-text: #fff;
$bg-list: transparent;
$color-menu: #fff;
$menu-shad: #444;


.content {
  img {
    margin-bottom: 20px;
  }
  ul {
    padding-left: 30px;
  }
  h3 {
    font-size: 25px;

    margin-bottom: 20px;
    padding-top: 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: $color-text;
  background: #fff;
}

p,
td,
div {
  font-size: 20px;
}

table {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;

  margin-top: 20px;
  margin-bottom: 20px;

  vertical-align: middle;
  tbody {
    display: inline-block;

    min-width: 700px;
    th {
      padding: 5px 0 5px 5px;

      vertical-align: middle;
    }
    //tr,
    td {
      padding: 5px 0 5px 5px;

      vertical-align: middle;

      border: 1px solid #ececec;
    }
  }
}

.navbar-collapse.collapse {
  -webkit-transition: .5s;
       -o-transition: .5s;
          transition: .5s;
}

.clearfloat {
  clear: both;
}

.icontent_under_head {
  position: relative;
}

.region-content-under-head {
  .content {
    width: 100%;
    padding-top: 5vh;
    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      max-width: none !important;
    }
    > {
      h1 {
        font-size: 30px;

        position: relative;
        z-index: 9;

        margin: 0 auto 20px auto;
        padding: 5px 15px 5px 15px;

        text-align: center;
        text-transform: uppercase;

        color: $color-grey;
      }
      h2 {
        font-size: 22px;

        position: relative;
        z-index: 9;

        margin: 0 auto 20px auto;
        padding: 5px 15px 5px 15px;

        text-align: center;

        color: $color-grey;
      }
      h3 {
        font-size: 24px;
        font-weight: 700;

        position: relative;
        z-index: 9;

        margin: 0 auto 20px auto;
        padding: 5px 15px 5px 15px;

        text-align: center;

        color: $color-grey;
      }
    }
  }
}

.region-header .content > ul {
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  margin: 0 auto 0 auto;
  padding: 0;
  > li {
    font-size: 14px;
    line-height: 65px;

    float: right;

    box-sizing: border-box;
    width: 150px;
    height: 65px;
    margin: 0 auto 0 auto;
    padding: 0;

    list-style-type: none;

    text-align: center;
    &:first-child {
      float: left;

      width: 0;
    }
    &:nth-child(2) {
      line-height: 28px;

      float: left;
      > {
        h1 {
          font-size: 26px;
          font-weight: 700;

          margin: 0;
          margin-top: 5px;
          padding: 0;

          white-space: nowrap;

          color: $color-grey;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
        a {
          text-decoration: none;

          border: none;
        }
      }
    }
  }
}

.ifooter .region-footer .content > ul > li:first-child > a {
  text-decoration: none;

  border: none;
}

.telefon .t-forma a {
  font-size: 20px;
  font-weight: 700;
  line-height: .54;

  display: inline-block;

  padding: 0;

  text-decoration: none;

  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .08);
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

.header-cont {
  padding-top: 20px;
  padding-bottom: 20px;
}
.iheader .region-header .content {
  display: inline-block;

  width: 100%;

  text-align: center;

  color: $color-menu;
  text-shadow: -1px -1px 0 $menu-shad,
  1px -1px 0 $menu-shad,
  -1px 1px 0 $menu-shad,
  1px 1px 0 $menu-shad;
  .header-email,
  .phone-ch,
  .phone-moscov {
    display: inline-block;

    margin: 0 -15px;
    span {
      font-size: 20px;

      display: inline-block;

      padding: 0 0 10px 0;
    }
    .tel__title {
      font-size: 16px;

      padding: 0 0 10px 20px;
    }
    a {
      font-weight: 800;

      color: $color-menu;
    }
  }
  .brand {
    a {
      color: $color-menu;
    }
    h1 {
      font-size: 40px;
      font-weight: 800;

      margin: 0;
      padding: 0 0 15px 0;

      text-transform: uppercase;
    }
    span {
      font-size: 22px;
    }
  }
  .brand-mob {
    padding-bottom: 15px;
    a {
      color: $color-menu;
    }
    h1 {
      font-size: 30px;
      font-weight: 700;

      margin: 0;
      padding: 0;
    }
    span {
      font-size: 14px;
    }
  }
  .header-email,
  .phone-ch,
  .phone-moscov {
    font-size: 16px;
    a {
      font-weight: 700;

      color: $color-menu;
    }
  }
  .slog1,
  .slog2 {
    line-height: 1.3;

    display: inline-block;

    padding: 0;

    text-align: center;
  }
  ul {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    li {
      display: inline-block;

      margin: auto;

      color: #000;
    }
  }
}

/* .outer_wrapper.ofooter {
  height: 65px;

  color: #444;
  border-bottom: 1px solid #eee;
  background: #f5f5f5;



  background: linear-gradient(to bottom, #fafafa, #f5f5f5);
} */

.ifooter .region-footer .content > ul {
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  margin: 0 auto 0 auto;
  padding: 0;
  > li {
    font-size: 14px;
    line-height: 65px;

    float: right;

    box-sizing: border-box;
    width: 150px;
    height: 65px;
    margin: 0 auto 0 auto;
    padding: 0;

    list-style-type: none;

    text-align: center;
    &:first-child {
      float: left;

      width: 0;
    }
    &:nth-child(2) {
      line-height: 28px;

      float: left;
      > {
        h1 {
          font-size: 26px;
          font-weight: 700;

          margin: 0;
          margin-top: 5px;
          padding: 0;

          white-space: nowrap;

          color: $color-grey;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
        a {
          text-decoration: none;

          border: none;
        }
      }
    }
    &:first-child > a {
      text-decoration: none;

      border: none;
    }
    &:nth-child(2) > {
      a {
        > h1 {
          font-size: 22px;
          font-weight: 700;

          margin: 0;
          margin-top: 5px;
          margin-left: 37px;
          padding: 0;

          white-space: nowrap;
          text-decoration: none;

          color: $color-grey;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
        &:hover > h1,
        &:visited > h1 {
          font-size: 22px;
          font-weight: bold;

          margin: 0;
          margin-top: 5px;
          padding: 0;

          white-space: nowrap;

          color: $color-grey;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
      }
      span {
        font-size: 19px;

        white-space: nowrap;

        color: $color-grey;

        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
      a {
        > span,
        &:hover > span,
        &:visited > span {
          font-size: 16px;

          white-space: nowrap;

          color: $color-grey;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    &:nth-child(3) {
      line-height: 20px;

      float: left;

      width: 190px;
      > span {
        &.slog1 {
          font-size: 19px;
          font-weight: normal;

          display: block;

          margin: 0;
          margin-top: 11px;
          margin-left: 35px;
          padding: 0;

          white-space: nowrap;

          color: $color-black;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
        &.slog2 {
          font-size: 14px;
          font-weight: normal;

          display: block;

          margin: 0;
          margin-top: 5px;
          margin-left: 35px;
          padding: 0;

          white-space: nowrap;

          color: $color-black;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    &:nth-child(4) {
      line-height: 20px;

      float: left;

      width: 220px;
      > span {
        &.slog2_1 {
          font-size: 14px;
          font-weight: normal;

          display: block;

          margin: 0;
          margin-top: 12px;
          padding: 0;

          white-space: nowrap;

          color: $color-grey;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
        &.slog2_2 {
          font-size: 14px;
          font-weight: normal;

          display: block;

          margin: 0;
          margin-top: 4px;
          padding: 0;

          white-space: nowrap;

          color: $color-grey;

          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    &:nth-child(5) {
      width: 180px;
      > .telefon {
        font-size: 13px;
        font-weight: bold;
        line-height: 1.54;

        display: inline-block;

        padding: 7px 12px;

        cursor: pointer;
        text-align: center;

        color: #fff;
        border: 0;
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;
        background-color: #4173c9;
        background-image:    -moz-linear-gradient(to bottom, #5e8ee4, #4173c9);
        background-image: -webkit-linear-gradient(to bottom, #5e8ee4, #4173c9);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5e8ee4), color-stop(1, #4173c9));
        background-image:         linear-gradient(to bottom, #5e8ee4, #4173c9);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .08);
      }
    }
  }
}

.telefon {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  .t-forma {
    display: inline-block;

    margin: 0 auto;
    a {
      font-size: 28px;
      font-weight: 800;
      line-height: .54;

      display: inline-block;

      padding: 20px;

      text-decoration: none;

      color: #fcf9f9;
      color: #fff;
      border: 3px solid #f00;
      -webkit-border-radius: 50px;
         -moz-border-radius: 50px;
              border-radius: 50px;
      background-color: #f00;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .08);
      &:hover,
      &:visited {
        text-decoration: none;
      }
    }
  }
}

.ifooter .region-footer .content > ul > li {
  &:nth-child(5) > .telefon {
    &:hover,
    &:focus {
      background-color: #396bbc;
      background-image:    -moz-linear-gradient(to bottom, #5587d7, #396bbc);
      background-image: -webkit-linear-gradient(to bottom, #5587d7, #396bbc);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5587d7), color-stop(1, #396bbc));
      background-image:         linear-gradient(to bottom, #5587d7, #396bbc);
    }
    &:active {
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .24);
         -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .24);
              box-shadow: inset 0 2px 4px rgba(0, 0, 0, .24);
    }
  }
  &:nth-child(6) > span > a {
    font-size: 14px;
    font-weight: bold;

    text-decoration: none;

    color: $color-grey;
    &:hover {
      font-size: 14px;
      font-weight: bold;

      text-decoration: underline;

      color: $color-grey;
    }
    &:visited {
      font-size: 14px;
      font-weight: bold;

      color: $color-grey;
    }
  }
  &:nth-child(7) {
    line-height: 20px;

    position: relative;

    width: 190px;
    > span {
      &:first-child {
        font-size: 20px;
        font-weight: 700;

        display: block;

        margin-top: 12px;

        color: $color-grey;
      }
      &:nth-child(2) {
        font-size: 14px;

        display: block;

        margin-top: 7px;

        color: $color-grey;
      }
      &.vber {
        font-size: 13px;

        position: absolute;
        top: 2px;
        right: -19px;

        display: block;

        color: $color-black;
      }
      &:nth-child(2) {
        font-size: 14px;

        display: block;

        margin-top: 7px;

        color: $color-grey;
      }
    }
  }
  &:nth-child(8) {
    line-height: 20px;

    width: 190px;
    > span {
      &:first-child {
        font-size: 20px;
        font-weight: 700;

        display: block;

        margin-top: 12px;

        color: $color-grey;
      }
      &:nth-child(2) {
        font-size: 14px;

        display: block;

        margin-top: 7px;

        color: $color-grey;
      }
    }
  }
}

.iheadmenu {
  display: block;

  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  .region-headmenu .content > ul.menu {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;

    text-align: center;

    flex-wrap: wrap;
    justify-content: space-between;
    > li {
      display: inline-block;

      width: 17%;
      margin: 0 auto 10px auto;
      padding: 0;

      list-style-type: none;
      list-style-image: none;

      text-align: center;
      white-space: nowrap;
      > a {
        font-size: 16px;
        font-weight: 800;

        display: inline-block;

        box-sizing: border-box;
        width: 100%;
        width: auto;
        margin: 0;
        padding: 5px;

        text-align: center;

        color: $color-menu;
        text-shadow: -1px -1px 0 $menu-shad,
        1px -1px 0 $menu-shad,
        -1px 1px 0 $menu-shad,
        1px 1px 0 $menu-shad;
        &:focus,
        &:hover,
        &:active {
          color: $color-menu;
        }
      }
    }
  }
}

.menu_right .region-vertical-menu .content > ul.menu {
  box-sizing: border-box;
  width: calc(100% - 30px);
  height: auto;
  margin: 10px 5px 0 20px;
  padding: 0;

  background: none;
  > li {
    font-size: 18px;
    line-height: 25px;

    box-sizing: border-box;
    width: auto;
    min-height: 25px;
    margin: 8px 0 8px 0;
    padding: 0;

    list-style-type: none;
    list-style-image: none;

    color: $color-grey;
    background: none;
    > {
      a {
        color: #444;
        &:focus,
        &:hover,
        &:active {
          color: #444;
        }
      }
      ul {
        padding-left: 20px;
        > li {
          font-size: 18px;
          line-height: 25px;

          box-sizing: border-box;
          width: auto;
          min-height: 25px;
          margin: 8px 0 8px 0;
          padding: 0;

          list-style-type: none;
          list-style-image: none;

          color: $color-grey;
          background: none;
          > a {
            color: #444;
            &:hover,
            &:focus,
            &:active {
              color: #444;
            }
          }
        }
      }
    }
  }
}

.questions_wraper {
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  padding: 0;
}

.questions_ihner_wrap {
  h1 {
    font-size: 40px;

    width: 100%;
    margin-bottom: 20px;

    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    font-size: 30px;

    width: 100%;
    margin-bottom: 20px;

    text-align: center;
  }
  h3 {
    font-size: 30px !important;
    font-weight: 700;

    width: 100% !important;
    margin-top: -15px !important;
    margin-bottom: 30px !important;

    text-align: center !important;
  }
}

.questions_quest_wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 0 auto;
  padding: 0;
  .input-group {
    .input-group-addon {
      font-size: 38px;
    }
    .form-control {
      height: 56px;
    }
    textarea.form-control {
      height: 190px;
    }
  }
}

#formquestone.inviteform {
  max-width: 384px;
  height: auto;
  margin: 20px auto 30px auto;
  .btn.btn-danger.btn-lg.btn-block {
    font-size: 28px;

    float: right;

    height: 56px;
  }
}

#formquestthree.inviteform,
#formquesttwo.inviteform {
  height: auto;
  margin: 20px auto 30px auto;
  .btn.btn-danger.btn-lg.btn-block {
    font-size: 28px;

    height: 56px;
  }
}

.input-group .form-control {
  font-size: 18px;

  width: 100%;
  height: 40px;

  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-danger {
  font-size: 17px;
  font-weight: bold !important;
  line-height: 1.54 !important;

  display: inline-block !important;

  padding: 7px 12px !important;

  cursor: pointer !important;
  text-align: center !important;

  color: #fff !important;
  border: 0 !important;
  -webkit-border-radius: 2px !important;
     -moz-border-radius: 2px !important;
          border-radius: 2px !important;
  background-color: #4173c9 !important;
  background-image:    -moz-linear-gradient(to bottom, #5e8ee4, #4173c9) !important;
  background-image: -webkit-linear-gradient(to bottom, #5e8ee4, #4173c9) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5e8ee4), color-stop(1, #4173c9)) !important;
  background-image:         linear-gradient(to bottom, #5e8ee4, #4173c9) !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .08) !important;
  &:hover,
  &:focus {
    color: #fff !important !important;
    background-color: #396bbc !important;
    background-image:    -moz-linear-gradient(to bottom, #5587d7, #396bbc) !important;
    background-image: -webkit-linear-gradient(to bottom, #5587d7, #396bbc) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5587d7), color-stop(1, #396bbc)) !important;
    background-image:         linear-gradient(to bottom, #5587d7, #396bbc) !important;
  }
  &:active {
    color: #fff !important !important;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .24) !important;
       -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .24) !important;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, .24) !important;
  }
}

.icontent_top .region-content-top .content > ul {
  margin-top: 0;
  margin-bottom: 10px;
  &:first-child {
    margin: 10px auto 50px auto;
    > li {
      position: relative;

      width: auto;
      margin: 0 0 20px 0;
      padding-right: 10px;
      padding-left: 60px;

      list-style-type: none;
      &::before {
        position: absolute;
        top: -2px;
        left: 10px;

        display: block;

        width: 45px;
        height: 47px;

        content: '';

        background: url('../images/galka.png') 0 0 no-repeat;
      }
    }
  }
  > li {
    position: relative;

    width: auto;
    margin: 0;
    padding-right: 10px;

    list-style-type: disc;
  }
  > li > span {
    font-size: 22px;
    line-height: 28px;

    display: block;

    margin: 0 0 0 0 !important;
    padding: 0;

    -webkit-margin-before: 0;
  }
}
.icontent_middle .region-content-middle .content > {
  h1 {
    font-size: 36px;

    width: auto;
    margin: 30px 30px 30px 30px;

    text-align: center;
  }
  ul {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin: 0 auto 30px auto;
    padding: 0;
    > li {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      margin: 0 auto 20px auto;
      padding: 25px;

      list-style-type: none;

      border: 1px solid #ddd;
      background-color: $bg-list;
      > {
        .user_image {
          float: left;

          box-sizing: border-box;
          width: 204px;
          height: 204px;
          margin: 0 25px 20px 0;
          padding: 0;

          background-color: #fff;
          > img {
            box-sizing: border-box;
            width: 204px;
            height: 204px;
            margin: 0;
            padding: 0;
          }
        }
        p {
          font-size: 20px;
          font-style: italic;

          margin: 0 0 25px 0;
          padding: 0;
          &.text_right {
            font-size: 20px;
            font-weight: 700;

            clear: both;

            margin: 0 0 0 0;
            padding: 0;

            text-align: right;
          }
        }
      }
    }
  }
}

.icontent_before_bottom .region-content-before-bottom .content > {
  h1 {
    font-size: 36px;

    width: auto;
    margin: 30px 30px 30px 30px;

    text-align: center;
  }
  ul {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    margin: 0 auto 30px auto;
    padding: 0;
    > li {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      margin: 0 auto 20px auto;
      padding: 25px;

      list-style-type: none;

      border: 1px solid #ddd;
      background-color: $bg-list;
      > {
        .swarning {
          float: left;

          box-sizing: border-box;
          width: 50px;
          height: 50px;
          margin: 0 25px 5px 0;
          padding: 0;

          background-color: none;
          > img {
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            margin: 0;
            padding: 0;
          }
        }
        p {
          font-size: 20px;

          margin: 0 0 0 0;
          padding: 0;
          &.sbold {
            font-size: 20px;
            font-weight: 700;

            margin: 0 0 0 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.form-control.error_form {
  border: 2px solid rgb(255, 0, 0);
}

.icontent_bottom .region-content-bottom .content .questions_ihner_wrap > h1 {
  font-size: 36px;

  margin-top: 30px;
  margin-bottom: 30px;
}

.icontent_middle .region-content-middle .content .questions_ihner_wrap > h1 {
  font-size: 36px;

  margin-top: 0;
}

.icontent_bottom .region-content-bottom .content .questions_outer_wrap {
  margin-bottom: 40px;
}

.icontent_under_top {
  margin: 30px;
}

.icontent_under_top .region-content-under-top .content .view-content .field {
  .field-label {
    display: none;
  }
  .field-items {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    margin: 0;
    padding: 6% 0 ;

    list-style: none;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    .field-item {
      position: relative;

      display: inline-block;
      float: left;
      overflow: hidden;

      box-sizing: border-box;
      width: 40%;
      min-width: 250px;
      height: 320px;
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;

      text-align: center;

      border: 1px solid #ddd;
      border-radius: 6px;
      background: #fff;
      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        min-width: 140%;
        height: auto;
        margin: auto;
      }
      > a {
        border: 0;
        &:hover,
        &:focus,
        &:active,
        &:visited {
          border: 0;
        }
      }
    }
  }
}

.icontent_under_head {
  .form-group {
    margin-bottom: 10px;
  }
  .questions_quest_wrapper .input-group .input-group-addon {
    font-size: 18px;

    padding: 6px 18px;
  }
}

td > h2 {
  font-weight: 700;

  margin-top: 10px;
  margin-bottom: 10px;
}

.views-field.views-field-field-foto img {
  margin-bottom: 26px;
  margin-left: 26px;

  border-radius: 10px;
}

//table,
tr,
td {
  vertical-align: middle;

  border: 1px solid #ececec;
}

.icontent_under_top {
  margin: 0;
  margin: 0;
}

.views-field {
  &.views-field-field-foto {
    margin-bottom: -20px;
    margin-left: -30px;
  }
  &.views-field-field--2 img {
    margin-bottom: 26px;
    margin-left: 26px;

    border-radius: 10px;
  }
}

.field {
  &.field-name-field-foto.field-type-image.field-label-hidden .field-items {
    display: block;
    img {
      float: left;

      width: 325px !important;
      height: 325px;
      margin-top: 20px !important;
      margin-bottom: 26px;
      margin-left: 26px;

      resize: horizontal;

      border-radius: 10px;
    }
  }
  &.field-name-field--2.field-type-image.field-label-hidden {
    display: none;
  }
}

div#block-block-15 {
  width: 1020px;
}

.region.region-content-under-top {
  margin-left: 30px;
}

.bigLi li {
  font-size: 20px !important;
  line-height: 28px !important;

  margin: 0 auto 0 auto !important;

  list-style-type: disc !important;
  list-style-image: none !important;

  -webkit-margin-before: 0;
}

.region-content {
  .swarning {
    float: left;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0 25px 5px 0;
    padding: 0;

    background-color: none;
  }
  .content {
    > {
      ul > li {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
        padding: 25px;

        list-style-type: none;

        border: 1px solid #ddd;
        background-color: $bg-list;
        > p.sbold {
          font-size: 20px;
          font-weight: 700;

          margin: 0 0 0 0;
          padding: 0;
        }
      }
      h1 {
        font-size: 36px;

        width: auto;
        margin: 30px 30px 30px 30px;

        text-align: center;
      }
    }
    .questions_outer_wrap {
      margin-bottom: 40px;
    }
  }
}

p.text_right {
  text-align: right;
}

.region-content .content > ul {
  box-sizing: border-box;
  width: 90%;
  height: auto;
  margin: 0 auto 30px auto;
  padding: 0;
}

.modal-backdrop {
  display: none;
}

#myModal {
  position: absolute;
  z-index: 99999;

  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0,.7);
  .modal-dialog {
    position: relative;
    z-index: 999999;

    margin: 0 auto;
    padding-top: 10vh;
    .modal-title {
      color: $color-menu;
    }
  }
}





@media (max-width: 991px) {
  .sm__none,
  .iheadmenu {
    display: none !important;
  }
  header {
    position: relative;
  }
  #header__height {
    display: none;
  }
}
