$rb-font-path: '../fonts' !default;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=cyrillic,latin);
@font-face {
  font-family: "Cambria";
  src: url("#{$rb-font-path}/Cambria-Regular.eot?") format("eot"),
     url("#{$rb-font-path}/Cambria-Regular.woff") format("woff"),
     url("#{$rb-font-path}/Cambria-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cambria";
  font-style: italic;
  src:
     url("#{$rb-font-path}/Cambria-Italic.woff") format("woff"),
     url("#{$rb-font-path}/Cambria-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Cambria";
  font-weight: bold;
  src:
     url("#{$rb-font-path}/Cambria-Bold.woff") format("woff"),
     url("#{$rb-font-path}/Cambria-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Cambria";
  font-style: italic;
  font-weight: bold;
  src:
     url("#{$rb-font-path}/Cambria-Bold-Italic.woff") format("woff"),
     url("#{$rb-font-path}/Cambria-Bold-Italic.ttf") format("truetype");
}
